WpfBankClient/Service References/BankingService/BankingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DepositData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperationTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepositData" nillable="true" type="tns:DepositData" />
  <xs:complexType name="WithdrawData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperationTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WithdrawData" nillable="true" type="tns:WithdrawData" />
  <xs:complexType name="TransferData">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="receiver_account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sender_account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferData" nillable="true" type="tns:TransferData" />
</xs:schema>