WpfBankClient/Service References/BankingService/BankingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBankingService.operation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBankingService.operation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOperationRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationRecord" nillable="true" type="tns:OperationRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationRecord" nillable="true" type="tns:ArrayOfOperationRecord" />
  <xs:complexType name="OperationRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceAfterOperation" type="xs:decimal" />
      <xs:element minOccurs="0" name="Credit" type="xs:decimal" />
      <xs:element minOccurs="0" name="Debet" type="xs:decimal" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationRecord" nillable="true" type="tns:OperationRecord" />
</xs:schema>