WpfBankClient/Service References/BankingService/BankingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" />
  <xs:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" minOccurs="0" name="SignInResult" nillable="true" type="q1:LogInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" minOccurs="0" name="paymentData" nillable="true" type="q2:DepositData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" minOccurs="0" name="DepositResult" nillable="true" type="q3:PaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" minOccurs="0" name="paymentData" nillable="true" type="q4:WithdrawData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" minOccurs="0" name="WithdrawResult" nillable="true" type="q5:PaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" minOccurs="0" name="transferData" nillable="true" type="q6:SoapTransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" minOccurs="0" name="TransferResult" nillable="true" type="q7:PaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" minOccurs="0" name="GetOperationHistoryResult" nillable="true" type="q8:OperationHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>