WpfBankClient/Service References/BankingService/BankingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" />
      <xsd:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Request" />
      <xsd:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfBankingService.operation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IBankingService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Transfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Transfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_GetOperationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationHistory" />
  </wsdl:message>
  <wsdl:message name="IBankingService_GetOperationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankingService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/SignIn" message="tns:IBankingService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/SignInResponse" message="tns:IBankingService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/Deposit" message="tns:IBankingService_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/DepositResponse" message="tns:IBankingService_Deposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/Withdraw" message="tns:IBankingService_Withdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/WithdrawResponse" message="tns:IBankingService_Withdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/Transfer" message="tns:IBankingService_Transfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/TransferResponse" message="tns:IBankingService_Transfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/GetOperationHistory" message="tns:IBankingService_GetOperationHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/GetOperationHistoryResponse" message="tns:IBankingService_GetOperationHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingService" type="tns:IBankingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IBankingService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IBankingService/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IBankingService/Withdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap:operation soapAction="http://tempuri.org/IBankingService/Transfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationHistory">
      <soap:operation soapAction="http://tempuri.org/IBankingService/GetOperationHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingService">
    <wsdl:port name="BasicHttpBinding_IBankingService" binding="tns:BasicHttpBinding_IBankingService">
      <soap:address location="http://localhost/Bank/Service/Soap/BankingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>