WpfBankClient/Service References/BankingService/BankingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBankingService.Service.DataContract.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Bank/Service/Soap/BankingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfBankingService.operation" />
  <xs:complexType name="LogInResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseStatus" type="tns:ResponseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogInResponse" nillable="true" type="tns:LogInResponse" />
  <xs:simpleType name="ResponseStatus">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="ResponseStatus" nillable="true" type="tns:ResponseStatus" />
  <xs:complexType name="PaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseStatus" type="tns:ResponseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentResponse" nillable="true" type="tns:PaymentResponse" />
  <xs:complexType name="OperationHistoryResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBankingService.operation" minOccurs="0" name="OperationRecords" nillable="true" type="q1:ArrayOfOperationRecord" />
      <xs:element minOccurs="0" name="ResponseStatus" type="tns:ResponseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationHistoryResponse" nillable="true" type="tns:OperationHistoryResponse" />
</xs:schema>